html,body {
    height: 100%;
}
body {
    direction: rtl;
    text-align: right;
    font-family: "JF Flat Regular",sans-serif;
}
.dropdown .dropdown-menu.dropdown-turath {
    padding: 8px;
    text-align: right;
}
.dropdown .dropdown-menu.dropdown-turath .dropdown-item:hover {
    background: -moz-linear-gradient(-45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -o-linear-gradient(-45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(-45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border-radius: .125rem;
    color: white;
}
.top-nav-collapse {
    background: -moz-linear-gradient(-45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%);
    background: linear-gradient(-45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%);
}
.navbar:not(.top-nav-collapse) {
    background: transparent!important;
}
@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: -moz-linear-gradient(-45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%)!important;
        background: -webkit-linear-gradient(-45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%)!important;
        background: -o-linear-gradient(-45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%)!important;
        background: linear-gradient(-45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%)!important;
    }
}
.view {
    height: 100%;
    background-image: url('../img/visitor/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 740px) {
    html, body, .view {
        height: 900px;
    }
    .view.login:not(.error) {
        height: 1130px;
    }
    .view.login.error {
        height: 1200px;
    }
    .view.student.account:not(.error) {
        height: 1190px;
    }
    .view.student.account.error {
        height: 1470px;
    }
    .view.listener.account:not(.error) {
        height: 920px;
    }
    .view.listener.account.error {
        height: 1107px;
    }
    .view .container {
        padding-top: 70px;
    }
}
.turath-gradient-color {
    background: -moz-linear-gradient(-45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -o-linear-gradient(-45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(-45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    color: #FFFFFF;
}
.btn.turath-gradient-color:hover {
    color: #FFFFFF;
}

.card-bg-light {
    background-color: rgba(126, 123, 215, 0.2);
}
.card-bg-light .md-form input,
.card-bg-light .md-form textarea {
    color: #FFFFFF;
}
.md-form .prefix~input,
.md-form .prefix~textarea {
    margin-left: 0;
    margin-right: 2.5rem;
}
.card-bg-light .md-form label {
    color: #ffffff;
}
.md-form label.active {
    font-size: 90%;
    -webkit-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    transform: translateY(-14px);
}
.md-form label {
    width: 100%;
}
.md-form .prefix~label {
    margin-left: 0;
    margin-right: 2.5rem;
    width: calc(100% - 2.5rem);
}
.card-bg-light .md-form input:focus:not([readonly]),
.card-bg-light .md-form textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
    border-bottom: 1px solid #ffffff;
}
.card-bg-light .md-form input:focus:not([readonly])+label,
.card-bg-light .md-form textarea:focus:not([readonly])+label {
    color: #ffffff;
}




.custom-control-inline {
    margin-right: 0;
    margin-left: 1rem;
}

.custom-control {
    padding-left: 0;
    padding-right: 1.5rem;
}

.custom-control-label::before {
    right: -1.5rem;
    left: 0;
}

.custom-control-label::after {
    right: -1.5rem;
    left: 0;
}






section.services,
section.about,
section.contact-us,
section.media {
    padding: 80px 0;
}
@media (max-width: 767px) {
    section.services,
    section.about,
    section.contact-us,
    section.media {
        padding: 60px 0;
    }
}
.map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin: 10px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
}
.btn-fb {
    background-color: #3b5998!important;
    color: #fff;
}
.btn-tw {
    background-color: #55acee!important;
    color: #fff;
}
.btn-ins {
    background-color: #2e5e86!important;
    color: #fff;
}
.btn-yt {
    background-color: #ed302f!important;
    color: #fff;
}
.btn-tel {
    background-color: #1da1f3!important;
    color: #fff;
}
footer.page-footer {
    position: sticky;
    top: 100%;
    bottom: auto;
}

.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    height: auto;
    max-height: 200px;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    color: #212529;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}
.autocomplete-items div:hover {
    background-color: #eeeeee;
}
.autocomplete-active {
    background-color: #eeeeee !important;
}
/**************************Font**************************/
@font-face {
    font-family: "JF Flat Regular";
    src: url('../font/jf-flat/JF-Flat-regular.eot');
    src: url('../font/jf-flat/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/jf-flat/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../font/jf-flat/JF-Flat-regular.woff') format('woff'),
    url('../font/jf-flat/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
